In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from scipy.sparse import csr_matrix

Leemos ambos dataset como pandas dataframe, y le asignamos los nombres correspondientes a las columnas.

In [2]:
movies_names = ["MovieID","Title","Genres"]
movies = pd.read_csv("ml-10M100K/movies.dat", sep = "::", names = movies_names, engine = "python")
movies['MovieID'] = movies['MovieID'].apply(pd.to_numeric)
movies.head()

,MovieID,Title,Genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings_names = ["UserID","MovieID","Rating","Timestamp"]
ratings = pd.read_csv("ml-10M100K/ratings.dat", sep = "::", names = ratings_names, engine = "python")
ratings.head()

   UserID  MovieID  Rating  Timestamp
0       1      122     5.0  838985046
1       1      185     5.0  838983525
2       1      231     5.0  838983392
3       1      292     5.0  838983421
4       1      316     5.0  838983392

Obtenemos las 10 películas que más veces han sido evaluadas por los usuarios, para que se le muestren al usuario a trabajar y este les pueda entregar su propia valoración

In [22]:
more_rated = ratings.groupby("MovieID")["Rating"].agg("count").sort_values(ascending = False)
more_rated=more_rated.head(10)
more_rated

MovieID
296.0    34865
356.0    34458
593.0    33669
480.0    32632
318.0    31127
110.0    29155
457.0    28952
589.0    28949
260.0    28567
150.0    27036
Name: Rating, dtype: int64

In [5]:
movies[movies.MovieID == more_rated.index[0]].iat[0,1]

'Pulp Fiction (1994)'

In [6]:
more_rated.index[0]

296

Obtenemos los indices de las películas, y con ellos mostramos los nombres de cada una y se los solicitamos al usuario

In [7]:
user_rating = []
nueva_id=0
user_rating.append([nueva_id,more_rated.index[0],float(input(movies[movies.MovieID == more_rated.index[0]].iat[0,1])),0])
user_rating.append([nueva_id,more_rated.index[1],float(input(movies[movies.MovieID == more_rated.index[1]].iat[0,1])),0])
user_rating.append([nueva_id,more_rated.index[2],float(input(movies[movies.MovieID == more_rated.index[2]].iat[0,1])),0])
user_rating.append([nueva_id,more_rated.index[3],float(input(movies[movies.MovieID == more_rated.index[3]].iat[0,1])),0])
user_rating.append([nueva_id,more_rated.index[4],float(input(movies[movies.MovieID == more_rated.index[4]].iat[0,1])),0])
user_rating.append([nueva_id,more_rated.index[5],float(input(movies[movies.MovieID == more_rated.index[5]].iat[0,1])),0])
user_rating.append([nueva_id,more_rated.index[6],float(input(movies[movies.MovieID == more_rated.index[6]].iat[0,1])),0])
user_rating.append([nueva_id,more_rated.index[7],float(input(movies[movies.MovieID == more_rated.index[7]].iat[0,1])),0])
user_rating.append([nueva_id,more_rated.index[8],float(input(movies[movies.MovieID == more_rated.index[8]].iat[0,1])),0])
user_rating.append([nueva_id,more_rated.index[9],float(input(movies[movies.MovieID == more_rated.index[9]].iat[0,1])),0])

Pulp Fiction (1994)4
Forrest Gump (1994)4
Silence of the Lambs, The (1991)3
Jurassic Park (1993)2
Shawshank Redemption, The (1994)4
Braveheart (1995)2
Fugitive, The (1993)1
Terminator 2: Judgment Day (1991)3
Star Wars: Episode IV - A New Hope (a.k.a. Star Wars) (1977)2
Apollo 13 (1995)1

In [8]:
user_rating
user_rating2=pd.Series(user_rating)
user_rating2

0    [0, 296, 4.0, 0]
1    [0, 356, 4.0, 0]
2    [0, 593, 3.0, 0]
3    [0, 480, 2.0, 0]
4    [0, 318, 4.0, 0]
5    [0, 110, 2.0, 0]
6    [0, 457, 1.0, 0]
7    [0, 589, 3.0, 0]
8    [0, 260, 2.0, 0]
9    [0, 150, 1.0, 0]
dtype: object

Los añadimos al dataframe gigante de ratings de películas, con id de usuario 0, ya que el dataset venía predefinido con id's desde el 1 en adelante.

In [9]:
ratings=ratings.append(pd.Series(user_rating[0],index=ratings.columns),ignore_index=True)
ratings=ratings.append(pd.Series(user_rating[1],index=ratings.columns),ignore_index=True)
ratings=ratings.append(pd.Series(user_rating[2],index=ratings.columns),ignore_index=True)
ratings=ratings.append(pd.Series(user_rating[3],index=ratings.columns),ignore_index=True)
ratings=ratings.append(pd.Series(user_rating[4],index=ratings.columns),ignore_index=True)
ratings=ratings.append(pd.Series(user_rating[5],index=ratings.columns),ignore_index=True)
ratings=ratings.append(pd.Series(user_rating[6],index=ratings.columns),ignore_index=True)
ratings=ratings.append(pd.Series(user_rating[7],index=ratings.columns),ignore_index=True)
ratings=ratings.append(pd.Series(user_rating[8],index=ratings.columns),ignore_index=True)
ratings=ratings.append(pd.Series(user_rating[9],index=ratings.columns),ignore_index=True)

In [10]:
ratings.head()

   UserID  MovieID  Rating    Timestamp
0     1.0    122.0     5.0  838985046.0
1     1.0    185.0     5.0  838983525.0
2     1.0    231.0     5.0  838983392.0
3     1.0    292.0     5.0  838983421.0
4     1.0    316.0     5.0  838983392.0

Corroboramos que se hayan agregado correctamente

In [11]:
ratings[ratings.UserID == 0]

          UserID  MovieID  Rating  Timestamp
10000054     0.0    296.0     4.0        0.0
10000055     0.0    356.0     4.0        0.0
10000056     0.0    593.0     3.0        0.0
10000057     0.0    480.0     2.0        0.0
10000058     0.0    318.0     4.0        0.0
10000059     0.0    110.0     2.0        0.0
10000060     0.0    457.0     1.0        0.0
10000061     0.0    589.0     3.0        0.0
10000062     0.0    260.0     2.0        0.0
10000063     0.0    150.0     1.0        0.0

Creamos un nuevo dataframe que será una matriz con las películas como columnas y los usuarios como filas, en donde en cada casilla se encontrará el rating que dicho usuario le otroga a la película. Si el usuario no ha visto la película, en la matriz aparecerá un cero

In [12]:
R_df = ratings.pivot(index = 'UserID', columns ='MovieID', values = 'Rating').fillna(0)
R_df.head()

MovieID,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,65006.0,65011.0,65025.0,65027.0,65037.0,65088.0,65091.0,65126.0,65130.0,65133.0
UserID,,,,,,,,,,,,,,,,,,,,,
0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

La matriz se encuentra llena de ceros, y esto es debido a que los usuarios evidentemente no han visto todas las películas del catálogo, lo cual nos indica que trabajaremos con una matriz dispersa.

In [13]:
user_rating

[[0, 296, 4.0, 0],
 [0, 356, 4.0, 0],
 [0, 593, 3.0, 0],
 [0, 480, 2.0, 0],
 [0, 318, 4.0, 0],
 [0, 110, 2.0, 0],
 [0, 457, 1.0, 0],
 [0, 589, 3.0, 0],
 [0, 260, 2.0, 0],
 [0, 150, 1.0, 0]]

In [16]:
R = csr_matrix(R_df)
user_ratings_mean = R.mean()
R_demeaned = R - user_ratings_mean.reshape(-1, 1)

In [21]:
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(R_demeaned, k = 50)

In [30]:
sigma = np.diag(sigma)

In [ ]:
U_sparse = csr_matrix(U)
sima_sparse = csr_matrix(sigma)
Vt_sparse = csr_matrix(Vt)

In [31]:
#U.shape
sigma.shape

(50, 50)

In [32]:
mul=U.dot(sigma)
mul.shape
Vt.shape
#all_user_predicted_ratings = np.dot(, Vt) + user_ratings_mean.reshape(-1, 1)
#preds_df = pd.DataFrame(all_user_predicted_ratings, columns = R_df.columns)

(50, 10677)

In [34]:
mul_sparse = csr_matrix(mul)

In [35]:
all_user_predicted_ratings = mul.dot(Vt)
all_user_predicted_ratings

array([[ 1.04189276e-01, -4.61958710e-01,  3.61068548e-02, ...,
        -4.55177503e-02, -4.54930693e-02, -4.54959732e-02],
       [-2.58913139e-03,  9.66343016e-01,  9.98466819e-02, ...,
        -3.67817002e-02, -3.64925857e-02, -3.71003393e-02],
       [ 5.29882083e-01,  2.75761523e-01,  6.37871131e-01, ...,
        -4.37630374e-02, -4.36351229e-02, -4.43981727e-02],
       ...,
       [ 4.57922145e-01,  3.66203767e-01, -1.83354759e-01, ...,
        -5.30637900e-02, -5.24688432e-02, -5.14267438e-02],
       [ 4.10306903e+00,  5.86716110e-01,  3.31570812e-02, ...,
        -5.38119914e-02, -5.41441386e-02, -5.47779792e-02],
       [ 7.96664342e-01,  4.15985393e-01, -6.02436990e-02, ...,
        -4.23943383e-02, -4.10537635e-02, -4.15960482e-02]])

In [36]:
all_user_predicted_ratings.shape

(69879, 10677)

In [38]:
user_ratings_mean=user_ratings_mean.reshape(-1, 1)
user_ratings_mean

array([[0.0470775]])

In [39]:
user_ratings_mean.shape

(1, 1)

In [41]:
all_user_predicted_ratings = all_user_predicted_ratings + user_ratings_mean

MemoryError:

In [ ]:
all_user_predicted_ratings

In [ ]:
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = R_df.columns)

In [ ]:
preds_df

In [ ]:
def recomendaciones(predictions_df, userID, movies_df, original_ratings_df, num_recommendations=5):
    
    # Get and sort the user's predictions
    user_row_number = userID  # UserID starts at 1, not 0
    sorted_user_predictions = predictions_df.iloc[user_row_number].sort_values(ascending=False)
    
    # Get the user's data and merge in the movie information.
    user_data = original_ratings_df[original_ratings_df.UserID == (userID)]
    user_full = (user_data.merge(movies_df, how = 'left', left_on = 'MovieID', right_on = 'MovieID').
                     sort_values(['Rating'], ascending=False)
                 )
    print('User {0} has already rated {1} movies.'.format(userID, user_full.shape[0]))
    print('Recommending the highest {0} predicted ratings movies not already rated.'.format(num_recommendations))
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (movies_df[~movies_df['MovieID'].isin(user_full['MovieID'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'MovieID',
               right_on = 'MovieID').rename(columns = {user_row_number: 'Ratings'}).
                       sort_values('Ratings', ascending = False)
                      )

    return user_full, recommendations.head(num_recommendations)

already_rated, predictions = recomendaciones(preds_df, 0, movies, ratings)

In [ ]:
already_rated.shape
already_rated.head(10)

In [ ]:
predictions